{# Need to have the header inserted first and the footer last.
    The goal is to have the index switch between the components (mon histoire, projects, experiences, languages) #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('headerjs') }}
{% endblock %}

{% block body %}

    {% include 'components/header.html.twig' %}

    <main>
        <h1>Yousk2</h1>
    </main>
{% endblock %}