{# Need a background image that covers the whole screen
     and slide to the top of the screen on scroll down.
    Need my name and profession in the middle of the screen with a hover,
    each letter of my name flip on hover and the profession just zoom in.
    Need smoke coming from the bottom at random #}

<header>
     <section id="myName">
          <div id="firstname">
               <span>G</span>
               <span>U</span>
               <span>I</span>
               <span>L</span>
               <span>L</span>
               <span>A</span>
               <span>U</span>
               <span>M</span>
               <span>E</span>
          </div>

          <div id="familyName">
               <span>G</span>
               <span>R</span>
               <span>O</span>
               <span>S</span>
          </div>
     </section>

     <section id="job">
          <span>Developpeur</span>
          <span>Full Stack</span>
     </section>
</header>