{# Need a background image that covers the whole screen
     and slide to the top of the screen on scroll down.
    Need my name and profession in the middle of the screen with a hover,
    each letter of my name flip on hover and the profession just zoom in.
    Need smoke coming from the bottom at random #}

<header id="header">
     <section id="myName">
          <div id="firstname">
               <span class="flippingSpan">G</span>
               <span class="flippingSpan">U</span>
               <span class="flippingSpan">I</span>
               <span class="flippingSpan">L</span>
               <span class="flippingSpan">L</span>
               <span class="flippingSpan">A</span>
               <span class="flippingSpan">U</span>
               <span class="flippingSpan">M</span>
               <span class="flippingSpan">E</span>
          </div>

          <div id="familyName">
               <span class="flippingSpan">G</span>
               <span class="flippingSpan">R</span>
               <span class="flippingSpan">O</span>
               <span class="flippingSpan">S</span>
          </div>
     </section>

     <section id="job">
          <span>Developpeur</span>
          <span>Full Stack</span>
     </section>
</header>